GOOGLE_GENAI_API_KEY=""
GMAIL_CLIENT_ID=""
GMAIL_CLIENT_SECRET=""
GMAIL_REFRESH_TOKEN=""
GMAIL_SENDER_EMAIL=""
OPENAI_API_KEY=""
POSTGRES_URL=""
POSTGRES_USER=""
POSTGRES_HOST=""
SUPABASE_JWT_SECRET=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
POSTGRES_PRISMA_URL=""
POSTGRES_PASSWORD=""
POSTGRES_DATABASE=""
SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
NEXT_PUBLIC_SUPABASE_URL=""
SUPABASE_SERVICE_ROLE_KEY=""
POSTGRES_URL_NON_POOLING=""
V0_API_KEY=""
